# Get Instrument Data

In [1]:
# imports
import requests
import pandas as pd
from dotenv import load_dotenv
import os

In [2]:
# load environment variables
load_dotenv()

OANDA_API_KEY = os.getenv("OANDA_API_KEY")
OANDA_ACCT_NUM = os.getenv("OANDA_ACCT_NUM")
OANDA_URL = os.getenv("OANDA_URL")
SECURE_HEADER = {
    "Authorization": f"Bearer {OANDA_API_KEY}",
}

In [5]:
# create session
session = requests.Session()

In [3]:
url = f"{OANDA_URL}/v3/accounts/{OANDA_ACCT_NUM}/instruments"
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-26774421-001/instruments'

In [6]:
# make request to API
response = session.get(url, params=None, headers=SECURE_HEADER)
response.status_code

200

In [8]:
data = response.json()
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [12]:
instruments = data["instruments"]
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [ ]:
# create instrument data
instrument_data = []
for instrument in instruments:
    instrument_data.append(
        dict(
            name = instrument["name"],
            type = instrument["type"],
            display_name = instrument["displayName"],
            pip_location = instrument["pipLocation"],
            margin_rate = instrument["marginRate"],
        )
    )

In [16]:
for instrument in instrument_data[:3]:
    print(instrument)

{'name': 'USD_SGD', 'type': 'CURRENCY', 'display_name': 'USD/SGD', 'pip_location': -4, 'margin_rate': '0.05'}
{'name': 'EUR_SEK', 'type': 'CURRENCY', 'display_name': 'EUR/SEK', 'pip_location': -4, 'margin_rate': '0.03'}
{'name': 'HKD_JPY', 'type': 'CURRENCY', 'display_name': 'HKD/JPY', 'pip_location': -4, 'margin_rate': '0.1'}

In [18]:
# put data into a table/dataframe
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [20]:
instrument_df.head()

      name      type display_name  pip_location margin_rate
0  USD_SGD  CURRENCY      USD/SGD            -4        0.05
1  EUR_SEK  CURRENCY      EUR/SEK            -4        0.03
2  HKD_JPY  CURRENCY      HKD/JPY            -4         0.1
3  AUD_USD  CURRENCY      AUD/USD            -4        0.03
4  USD_CAD  CURRENCY      USD/CAD            -4        0.02

In [21]:
# save data to PKL
instrument_df.to_pickle("instruments.pkl")

In [23]:
# load table from PKL
new_df = pd.read_pickle("instruments.pkl")
new_df

       name      type display_name  pip_location margin_rate
0   USD_SGD  CURRENCY      USD/SGD            -4        0.05
1   EUR_SEK  CURRENCY      EUR/SEK            -4        0.03
2   HKD_JPY  CURRENCY      HKD/JPY            -4         0.1
3   AUD_USD  CURRENCY      AUD/USD            -4        0.03
4   USD_CAD  CURRENCY      USD/CAD            -4        0.02
..      ...       ...          ...           ...         ...
63  EUR_GBP  CURRENCY      EUR/GBP            -4        0.05
64  AUD_NZD  CURRENCY      AUD/NZD            -4        0.03
65  CAD_SGD  CURRENCY      CAD/SGD            -4        0.05
66  EUR_CZK  CURRENCY      EUR/CZK            -4        0.05
67  NZD_JPY  CURRENCY      NZD/JPY            -2        0.05

[68 rows x 5 columns]